@charset "UTF-8";

.category-card {
	cursor: pointer;
}

.cart-sidebar {
	position: fixed;
	top: 0;
	right: -300px;
	width: 300px;
	height: 100%;
	background: white;
	box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
	transition: right 0.3s;
	overflow-y: auto;
	padding: 10px;
	z-index: 100;
}

.cart-sidebar.open {
	right: 0;
}

.cart-img {
    width: 50px; /* Adjust size as needed */
    height: 50px;
    object-fit: cover; /* Ensures the image maintains aspect ratio */
    border-radius: 5px; /* Optional: Makes it look neat */
}

.modal-dialog {
    height: 100%;
    max-height: 90vh; /* Ensures the modal doesn't overflow the screen */
}

.modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.modal-body {
    height: 100%;
    flex-grow: 1;
    overflow-y: auto; /* Enables scrolling if content is large */
}
