@charset "UTF-8";
.profile-header {
    position: relative;
    text-align: center;
    color: white;
  }
  .background-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
  .profile-image {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .edit-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .container{
    background-color: #e5e5e5;
    padding: 20px;
    border-radius: 10px;
  }